.pattern-detail {
  background-attachment: fixed;
  background-image: url(./img/detail_bkgd.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 2em 0 5em 0;
  position: relative;
  width: 100%;
}

.detail-header {
  text-align: center;
}

.detail-header a {
  text-align: left;
}

.instructions {
  width: 45%;
  margin: 2em auto;
}

.materials-list li {
  list-style-type: square;
}

.md-style li {
  list-style-type: square;
}

.pattern-instruct li {
  list-style-type: decimal;
}